.modal__info {
    flex: 0 0 50%;
    border-right: 2px solid #fff;
}
.add__wrapper {
    display: flex;
    padding: 25px;
}
.info__item {
    margin: 0 27px 15px 0;
}
.info__label {
    display: block;
}
.info__label span {
    font-size: 12px;
    font-weight: 100;
}
.info__item-title {
    display: flex;
    justify-content: space-between;
}
.info__inline-label span{
    font-weight: lighter;
}
.info__input {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #fff;
}
.input__error {
    color: #FF2D37;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: lighter;
}
.info__input_short {
    margin-right: 27px;
}
.info__input_short:last-child {
    margin-right: 0;
}
.info__unknown {
    display: flex;
}
.info__span-counter {
    color: #6B6B6B;
}
.info__textarea {
    display: block;
    width: 100%;
    height: 144px;
    margin-top: 5px;
    padding: 5px 10px;
    resize: none;
    overflow: auto;
    background: #000000;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
    border-radius: 4px;
    color: #fff;
}
.info__footer {
    display: flex;
    margin-top: 41px;
}
.photo__container {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 187px;
    height: 211px;
    background: #000000;
    border: 1px solid #3FC4FD;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
    border-radius: 4px;
}

.photo__addByUrl-input {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 90%;
    padding: 8px 0;
    border: 1px solid #3FC4FD;
    background-color: transparent;
    border-radius: 6px;
    font-weight: 100;
    text-align: center;
    color: #fff;
}
.button__container {
    display: flex;
    justify-content: space-between;
    width: 187px;
    margin-top: 7px;
}
.photo__btn {
    padding: 7px 20px;
    border: none;
    font-style: normal;
    background: #3FC4FD;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.1s linear;
}
.photo__btn:disabled,
.photo__btn[disabled]{
  background: #C4C4C4;
  color: #494949;
}
.photo__btn:hover {
    background: #0C92CC;
    transition: background 0.1s linear;
}
.photo__btn:active {
    background: #03B3FF;
    transition: background 0.1s linear;
}
.info__color {
    margin-left: 33px;
}
.color__item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.color__input {
    min-width: 50px;
    height: 30px;
    margin-right: 12px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
.color__input::-webkit-color-swatch, 
.color__input::-moz-color-swatch {
    border-radius: 6px;
    border: 1px solid #fff;
}
.modal__preview {
    padding: 0 0 0 23px;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.preview__views {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.preview__views-item {
    margin-right: 10px;
    color: #6B6B6B;
}
.preview__views-item.active {
    color: #FFFFFF;
}
.preview__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.slider__photo {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 4px;
}
.slider__photo img {
    height: 100%;
}
.photo-1 {
    display: none;
    width: 450px;
    height: 300px;
}
.photo-2 {
    display: none;
    width: 260px;
    height: 300px;
}
.photo-1.active,
.photo-2.active {
    display: flex;
}

.preview__btn-container {
    width: 100%;
    display: flex;
    justify-content: end;
}
.preview__btn {
    padding: 17px 41px;
    border: none;
    outline: none;
    background: #3FC4FD;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.1s linear;
}
.preview__btn:hover{
    background: #0C92CC;
    transition: background 0.1s linear;
}
.preview__btn:active{
    background: #03B3FF;
    transition: background 0.1s linear;
}

.preview__close {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preview__close-text {
    font-weight: lighter;
}
.preview__close-btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.preview__close-btn:focus,
.preview__close-btn:active {
    border: none;
    outline: none;
}


/*FAKE PREVIEW*/
.fakeView__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-weight: lighter;
}
.fakeView__info {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
}
.fakeView__title {
    width: 240px;
    font-weight: 500;
    font-size: 19px;
}
.fakeView__title span{
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fakeView__characteristic {
    max-width: 250px;
    margin: 15px 0;
}
.fakeView__characteristic-item {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 15px;
    border-bottom: 1px solid #FFFFFF;
}
.fakeView__descr {
    width: 330px;
    overflow: hidden;
}
.fakeView__descr-text {
    font-size: 15px;
    overflow-wrap: anywhere;
}