html {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #fff;
}
#root {
    width: 100%;
    height: 100vh;
}

/***************************** BUTTON *****************************/
.btn {
    padding: 0.5rem 2.1rem;
    border: none;
    background: #3FC4FD;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.1s linear;
}
.btn_large {
    padding: 0,75rem 1,375rem;
}
.btn_small {
    padding: 0,2917rem 1rem;
}
.btn:hover{
    background: #0C92CC;
    transition: background 0.1s linear;
}
.btn:active{
    background: #03B3FF;
    transition: background 0.1s linear;
}
.btn__link{
    color: #000;
}

.btn_animation{
    animation: button-scale-animation 2s linear infinite;
}

@keyframes button-scale-animation {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(63, 196, 253, 1);
        
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(63, 196, 253, 1);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(63, 196, 253, 1);
    }
}

/***************************** HEADER *****************************/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 80px;
    background: #000;
    border-bottom: 0.5px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__logo {
    margin-right: 45px;
}
.nav__list {
    display: flex;
}
/* .list__item {
    position: relative;
    margin-right: 69px;
    line-height: 28px;
    transition: all 0.3s linear;
    padding: 0 10px;
    overflow: hidden;
}
.list__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #3FC4FD);
    transition: all 0.3s linear;
}
.list__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(-90deg, transparent, #3FC4FD);
    transition: all 0.3s linear;
}
.list__item:hover::after {
    background: linear-gradient(-90deg, transparent, #3FC4FD);
    right: 100%;
}
.list__item:hover::before {
    background: linear-gradient(90deg, transparent, #3FC4FD);
    left: 100%;
} */

.list__item {
    position: relative;
    margin-right: 69px;
    line-height: 28px;
    padding: 0 10px;
    transition: all 0.1s linear;
}
.list__item::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    /* background-color: #3FC4FD; */
    background: linear-gradient(90deg, transparent, #3FC4FD);
    transition: all 0.1s linear;
}
.list__item:hover::after {
    left: 0;
    width: 100%;
}
.list__item:hover a{
    color: #3FC4FD;
}

/***************************** HOME MAIN *****************************/
.main_home {
    height: 100vh;
    background: url('../assets/image/bg1.png') no-repeat;
}
.main-content_home {
    padding: 300px 0 166px 213px;
}
.main__title_home {
    max-width: 572px;
    font-size: 72px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main__subtitle_home {
    max-width: 406px;
    margin: 34px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/***************************** ERROR MAIN *****************************/
.main_error {
    height: 100vh;
    padding: 0 10px 30px 10px;
    border-top: 0.5px solid #fff;
    text-align: center;
    background: #000 url('../assets/image/errorBg.png') no-repeat;
    background-attachment: fixed;
}
.main__content_error{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
}
.main__title_error {
    font-weight: 30;
    font-size: 30px;
    margin-bottom: 50px;
}

/***************************** CHARACTERS MAIN *****************************/
.main_characters {
    height: 100vh;
    padding: 100px 10px 30px 10px;
    background: #000 url('../assets/image/bg2.png') no-repeat;
}
.main__content_characters{
    max-width: 1280px;
    padding-top: 30px;
    margin: 0 auto;
}
/******** title ********/
.main__title_characters{
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
}
.main__title_characters h1{
    font-size: 35px;
    font-weight: normal;
}
/******** search ********/
.main__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 13px 18px;
    border: 0.5px solid #fff;
    border-radius: 4px;
}
.main__search-input {
    width: 100%;
    font-size: 18px;
    color: #fff;
    border: none;
    background: transparent;
}
.main__search-input[type="text"]::-webkit-input-placeholder,
.main__search-input[type="text"]::-moz-placeholder {
    font-family: inherit;
    font-size: 18px;
    color: #3D3D3D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main__search-input:focus,
.main__search-input:active{
    outline: none;
}
.main__search-icon {
    cursor: pointer;
}
/******** filters ********/
.main__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
}
/* selectors */
.main__selectors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* add button */
.main__add-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 45px;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}
.main__add-btn:active,
.main__add-btn:focus{
    outline: none;
}

/***************************** CUSTOM SELECT *****************************/
/* wrapper */
.select {
    z-index: 1;
    position: relative;
    margin-right: 12px;
    font-size: 18px;
}
/* header container */
.select__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 45px;
    padding: 12px;
    border: 0.5px solid #fff;
    border-radius: 4px;
    background: #000;
    cursor: pointer;
}
.select__header.active {
    border: 0.5px solid #3FC4FD;
}
/* header title */
.select__title {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* change stroke on activation */
.active .select__header{
    border: 1px solid #3FC4FD;
}
.select__icon{
    display: flex;
}
.select__icon img {
    width: 14px;
    height: 8px;
}
/* body container */
.select__body {
    display: none;
    position: absolute;
    left: 0;
    top: 114%;
    min-width: 160px;
    padding: 18px 11px 35px 11px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
    background: #000000;
}
/* showing options upon activation */
.select__body.active {
    display: block;
}
/* option container */
.select__item {
    margin-bottom: 16px;
}
.select__item:last-child {
    margin-bottom: 0;
}
/* option subtitle */
.select__label {
    position: relative;
    display: inline-block;
    max-width: 200px;
    padding-left: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
/* default checkbox */
.select__checkbox {
    position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* custom checkbox button */
.checkbox-btn {
    position: absolute;
	top: 50%;
	width: 15px;
	height: 15px;
	margin-left: -27px;
	transform: translateY(-50%);
    border: 2px solid #fff;
    border-radius: 2px;
}
/* button hover behavior*/
.checkbox-btn:hover {
    border: 2px solid #3FC4FD;
}
/* button behavior when hovering over a subtitle */
.select__label:hover .checkbox-btn {
    border: 2px solid #3FC4FD;
}
/* button behavior on activation */
.select__checkbox:checked + .checkbox-btn {
    border: none;
    background-image: url('../assets/image/checkbox.png');
}

/***************************** REGISTRY *****************************/
.registry__wrapper {
    height: 554px;
    display: flex;
}
.registry__pack {
    display: none;
}
.active-pack {
    display: flex;
}
.registry__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 410px;
    margin-right: 25px;
    border-radius: 4px;
    /* background-color: #000; */
    cursor: pointer;
    transition: transform 0.1s linear;    
}
.registry__item:hover {
    z-index: 10;
    /* transform: scale(1.01); */
    transition: transform 0.1s linear;
}
.registry__item_dark:hover {
    box-shadow: 0 0 60px rgba(253, 55, 55, 0.2);
    border: 4px double rgba(253, 55, 55, 0.7);
    transition: transform 0.1s linear;
}
.registry__item_light:hover {
    box-shadow: 0 0 60px rgba(50, 253, 56, 0.2);
    border: 4px double rgba(50, 253, 56, 0.7);
    transition: transform 0.1s linear;
}
.registry__item_undefined:hover {
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.5);
    border: 4px double rgba(255, 255, 255, 0.7);
    transition: transform 0.1s linear;
}

.registry__item:last-child {
    margin-right: 0;
}
.item__head {
    position: relative;
    overflow: hidden;
}
.item__name {
    position: absolute;
    top: 29px;
    left: 26px;

}
.item__photo {
    width: 100%;
    height: 400px;
}
.item__description {
    min-width: 250px;
    padding: 10px 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #E5E5E5;
}
.description__text {
    display: flex;
    justify-content: space-between;
    padding: 0 2px 13px 2px;
    overflow: hidden;
    margin-bottom: 13px;
    border-bottom: 1px solid #fff;
}
.description__text > span {
    margin-right: 5px;
}
.description__text:last-child {
    border-bottom: none;
}
/* pagination */
.pagination {
    margin-top: 18px;
    display: flex;
}
.pagination__container {
    display: flex;
    margin: 0 auto;
}
.arrow {
    width: 12px;
    height: 20px;
    cursor: pointer;
}
.dot__wrapper {
    display: flex;
    margin: 0 30px;
}
.dot__container {
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
}
.dot {
    width: 9px;
    height: 9px;
    margin-right: 30px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.dot:last-child {
    margin-right: 0;
}
.active-dot {
    background: #3FC4FD;
}