/***************************** CHARACTERS MAIN *****************************/
.main {
    padding: 0 10px 30px 10px;
    border-top: 0.5px solid #fff;
    background: #000 url('../assets/image/bg2.png') no-repeat;
}
.main__content{
    max-width: 1280px;
    padding-top: 30px;
    margin: 0 auto;
}
/******** title ********/
.main__title{
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
}
.main__title h1{
    font-size: 35px;
    font-weight: normal;
}
/******** search ********/
.main__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 13px 18px;
    border: 0.5px solid #fff;
    border-radius: 4px;
}
.main__search-input {
    width: 100%;
    font-size: 18px;
    color: #fff;
    border: none;
    background: transparent;
}
.main__search-input[type="text"]::-webkit-input-placeholder,
.main__search-input[type="text"]::-moz-placeholder {
    font-family: inherit;
    font-size: 18px;
    color: #3D3D3D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main__search-input:focus,
.main__search-input:active{
    outline: none;
}
.main__search-icon {
    cursor: pointer;
}
/******** filters ********/
.main__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
}
/* selectors */
.main__selectors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* add button */
.main__add-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 45px;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}
.main__add-btn:active,
.main__add-btn:focus{
    outline: none;
}