.modal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.modal__wrapper {
    width: 1020px;
    min-height: 722px;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: #000;
    overflow: auto;
}
.modal__wrapper_centerScaleAnimation {
    animation: centerScaleAnimation 0.5s ease-out 1;
}
.modal__wrapper_centerSpinAnimation {
    animation: centerSpinAnimation 0.5s ease-out 1;
}

@keyframes centerSpinAnimation {
    0%{
        transform: scale(0) translateX(-2000px);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1) translateX(0);
    }
}
@keyframes centerScaleAnimation {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}