.view__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 722px;
    font-weight: lighter;
}
.view__bg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.view__info {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 53px 42px;
}
.view__close {
    z-index: 1;
    margin: 20px;
}
.view__title {
    width: 240px;
    font-weight: 500;
    font-size: 50px;
}
.view__characteristic {
    max-width: 250px;
}
.view__characteristic-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 24px;
    border-bottom: 1px solid #FFFFFF;
}
.view__characteristic-item:last-child {
    border-bottom: none;
}
.view__characteristic-title {
    opacity: 0.5;
}
.view__descr {
    width: 330px;
}
.view__descr-text {
    font-size: 20px;
    line-height: 35px;    
}

.right {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.view__tags {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 20px;
    color: #000;
}
.view__tags-item {
    display: none;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 400;
    padding: 3px 10px;
    margin: 5px 0;
    border-radius: 4px;
}
.view__tags-item.active {
    display: block;
}
.view__tags-1 {
    background-color: #9CC97B;
}
.view__tags-2 {
    background-color: #C9897B;
}
.view__tags-3 {
    background-color: #3FC4FD;
}
